{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <blockquote class="tiktok-embed" cite="https://www.tiktok.com/@alexis.xixi/video/7024480255389846790"
                data-video-id="7024480255389846790" style="max-width: 605px;min-width: 325px;">
        <section>
            <a target="_blank" title="@alexis.xixi" href="https://www.tiktok.com/@alexis.xixi">@alexis.xixi</a>
            <p>Brainstorming des skins R6 chez ubi
                <a title="xixi" target="_blank" href="https://www.tiktok.com/tag/xixi">#Xixi</a>
                <a title="r6" target="_blank" href="https://www.tiktok.com/tag/r6">#r6</a>
                <a title="pourtoi" target="_blank" href="https://www.tiktok.com/tag/pourtoi">#pourtoi</a>
                <a title="humour" target="_blank" href="https://www.tiktok.com/tag/humour">#humour</a></p> <a
                    target="_blank" title="♬ son original - Xixi"
                    href="https://www.tiktok.com/music/son-original-7024480057658116869">♬ son original - Xixi</a>
        </section>
    </blockquote>
    <script async src="https://www.tiktok.com/embed.js"></script>
{% endblock %}
